<div class="contacts">
  <h2>Contact Section</h2>
  <div class="contact-form">
    <form>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required />
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="social">
    <h3>Follow Us</h3>
    <div class="linkz">
      <span
        ><a
          href="https://www.facebook.com/profile.php?id=61557174770502"
          target="_blank"
          ><img src="facebook.png" alt="facebook" srcset="" /></a
        >Facebook</span
      >
      <span>
        <a href="https://twitter.com" target="_blank"
          ><img src="twitter.png" alt="twitter" srcset="" /></a
        >Twitter</span
      >
      <span
        ><a href="https://www.instagram.com/partenaskiza/" target="_blank"
          ><img src="instagram.png" alt="instergram" srcset="" /></a
        >Instagram</span
      >
      <span
        ><a
          href="https://www.tiktok.com/@partenaskiza?_t=8qaXADn9asv&_r=1"
          target="_blank"
          ><img src="tik-tok.png" alt="tikstok" srcset="" /></a
        >Tiktok</span
      >
      <span
        ><a href="https://www.pinterest.com/partenaskiza/" target="_blank"
          ><img src="pinterest.png" alt="pinterest" srcset="" /></a
        >Pinterest</span
      >
    </div>
  </div>
</div>
