<div class="about">
  <h2>About parte’naskiza</h2>
  <div class="content">
    <p>
      Partenaskiza gives you the best skiza tunes available in the ringback tone
      arket. Our skiza’s range from your favorite musician to entertaining and
      funny tunes. We are passionate about making enjoyable content that keeps
      you and your callers engaged. Pick our tunes and you will not notice the
      time before your call is answered. Subscribe to entertain yourself with my
      skiza or to entertain your callers with our ringback tones. Njoo u
      partenaskiza, skiza zetu ni for real.
    </p>
    <video controls>
      <source src="ramadhan.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
