.home {
  width: 70%;
  display: flex;
  height: 100vh;
  padding-top: 10%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.welcome-note {
  height: 40%;
  width: 60%;
}
.welcome-note h1 {
  margin-top: 5%;
  width: 100%;
  line-height: 50px;
}
.welcome-note img {
  width: 40%;
  height: 100%;
  border-radius: 50%;
}
button {
  margin-top: 5%;
  width: 200px;
  height: 50px;
  background-color: #000;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background-color: #333;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .home {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .home img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: black;
  }
  .welcome-note {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
  }
  .welcome-note img {
    width: 40%;
    height: 30%;
  }
  h1 {
    text-align: center;
    font-size: 16px;
  }
  button {
    margin: 20px auto;
    width: fit-content;
    height: 50px;
    padding: 10px;
  }
  .welcome-note h1 {
    width: 100%;
    line-height: 50px;
  }
}
