<nav class="navbar" [ngClass]="{ scrolled: isScrolled }" id="navbar">
  <a href="" class="nav-logo">
    <img src="assets.jpg" alt="image" />
  </a>
  <ul class="nav-menu" [class.active]="isMenuActive">
    <li class="nav-item">
      <a class="nav-link" (click)="navigateToSection('home')">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="navigateToSection('about')">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="navigateToSection('tune')">Tunes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="navigateToSection('contacts')">Contact</a>
    </li>
  </ul>
  <div class="hamburger" (click)="toggleMenu()" [class.active]="isMenuActive">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>
